<app-page-guard [loaded]="members" accessLevel="leader" #guard>
</app-page-guard>
<app-centered-layout *ngIf="guard.show">
  <h1>Create Transaction</h1>
  <form #form="ngForm" [formGroup]="fg" (ngSubmit)="submit()"> <mat-card id="root">
    <div class="account" id="from">
      <mat-form-field [ngClass]="[fg.value.from ? (fg.value.from.class) : 'blank', 'person']">
        <mat-select placeholder="From" formControlName="from" [errorStateMatcher]="alwaysMatcher">
          <mat-option *ngFor="let member of members" [value]="member">
            {{member.firstName + ' ' + member.lastName}}
          </mat-option>
        </mat-select>
        <mat-hint class="net-desc loss">
          $<span class="before" *ngIf="fg.value.from">{{fg.value.from.currentWealth}}</span>
          <span class="after" *ngIf="fg.value.from && fg.value.amount > 0">
            &#8594; ${{fg.value.from.currentWealth - fg.value.amount}}
          </span>
        </mat-hint>
        <mat-error *ngIf="checkError('from', 'required')">This value is required!</mat-error>
      </mat-form-field>
    </div>

    <div class="account" id="to">
      <mat-form-field [ngClass]="[fg.value.to ? (fg.value.to.class) : 'blank', 'person']">
        <mat-select placeholder="To" formControlName="to" [errorStateMatcher]="alwaysMatcher">
          <mat-option *ngFor="let member of members" [value]="member">
            {{member.firstName + ' ' + member.lastName}}
          </mat-option>
        </mat-select>
        <mat-hint class="net-desc gain">
          $<span class="before" *ngIf="fg.value.to">{{fg.value.to.currentWealth}}</span>
          <span class="after" *ngIf="fg.value.to && fg.value.amount > 0">
            &#8594; ${{fg.value.to.currentWealth + fg.value.amount}}
          </span>
        </mat-hint>
        <mat-error *ngIf="checkError('to', 'required')">This value is required!</mat-error>
      </mat-form-field>
    </div>

    <div id="amount">
      <mat-form-field class="example-full-width">
        <input matInput type="number" placeholder="Amount" formControlName="amount" [errorStateMatcher]="alwaysMatcher">
        <mat-error *ngIf="checkError('amount', 'required')">This value is required!</mat-error>
        <mat-error *ngIf="checkError('amount', 'min')">Amount must be positive!</mat-error>
        <mat-error *ngIf="checkError('amount', 'max')">Sender cannot pay that much!</mat-error>
      </mat-form-field>
    </div>

    <div id="reason">
      <mat-form-field>
        <mat-select placeholder="Reason" formControlName="reason" [errorStateMatcher]="alwaysMatcher">
          <mat-option *ngFor="let reason of reasons" [value]="reason">
            {{reason}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="checkError('reason', 'required')">This value is required!</mat-error>
      </mat-form-field>
    </div>

    <div id="send">
      <button mat-raised-button color="primary" type="submit" [disabled]="!fg.valid">Submit</button>
    </div>
  </mat-card> </form>
</app-centered-layout>