<app-centered-layout>
  <form #form="ngForm" [formGroup]="fg" (ngSubmit)="login()"> <mat-card>
    <mat-form-field id="first">
      <input matInput formControlName="first" placeholder="First Name">
      <mat-hint>Case insensetive</mat-hint>
      <mat-error>This field is required!</mat-error>
    </mat-form-field>
    <mat-form-field id="last">
      <input matInput formControlName="last" placeholder="Last Name">
      <mat-hint>Case insensetive</mat-hint>
      <mat-error>This field is required!</mat-error>
    </mat-form-field>
    <mat-form-field id="pin">
      <input matInput formControlName="pin" type="password" placeholder="PIN">
      <mat-error>This field is required!</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" id="login" color="primary" [disabled]="!fg.valid">Log In</button>
  </mat-card> </form>
</app-centered-layout>