<div class="message mat-h1" *ngIf="!backend.doesSessionExist() && accessLevel !== AccessLevel.VISITOR">
	You must be logged in to view this resource! Click <a (click)="routeToLogin()">here</a> to log in.
</div>
<div class="message mat-h1" *ngIf="backend.doesSessionExist() && !backend.isSessionValid()">
	Your session has expired! Click <a (click)="routeToLogin()">here</a> to log in again.
</div>
<ng-container *ngIf="!backend.shouldHaveAccess(accessLevel) && backend.isSessionValid()">
	<div class="message mat-h1" *ngIf="accessLevel == AccessLevel.LEADER">
		You need to be an administrator to access this page.
	</div>
</ng-container>
<div class="message mat-h1" *ngIf="!loaded && backend.shouldHaveAccess(accessLevel) && backend.isSessionValid()">
	{{loadingMessage}}
</div>