@import '~@angular/material/theming';
@include mat-core();

$frc-app-primary: mat-palette($mat-green, 700, 400, 900);
$frc-app-accent: mat-palette($mat-amber, A700, A400, A900);
$frc-app-theme: mat-light-theme($frc-app-primary, $frc-app-accent);

@include angular-material-theme($frc-app-theme);