@import 'blue-red-theme.scss';

h1 {
	border-bottom: 1px solid mat-color($frc-app-accent, lighter);
}

div.spacing {
	height: 1em;
}

mat-card > mat-card-header > mat-icon {
	text-align: right;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.mat-card-header-text {
	min-width: 0;
}

mat-card .mat-card-subtitle {
	margin-bottom: 0;
}

mat-card.one-line .mat-h2 {
	line-height: 2em;
	margin: 0;
	width: 100%;
}

mat-card img {
	margin-right: 0.5em;
}

app-grid-layout .grid-element {
	flex: 1 1 12em;
}

app-grid-layout.bigger .grid-element {
	flex: 1 1 20em;
}

mat-card.grid-element {
	margin: 0.5em;
}

mat-card.grid-element mat-card-title, mat-card.grid-element mat-card-subtitle {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

mat-card > .mat-icon {
}