<app-page-guard [loaded]="members && ledger && jobs && thisMember" [accessLevel]="accessLevel" #guard>
</app-page-guard>
<app-centered-layout *ngIf="guard.show" [ngClass]="[thisMember ? thisMember.class : '']">
  <h1>{{thisMember.firstName}} {{thisMember.lastName}}</h1>
  <mat-card>
    <div class="prop-box">
      <span class="key">Class:</span>
      <span class="spacer"></span>
      <span class="value class">{{thisMember.class.charAt(0).toUpperCase() + thisMember.class.substr(1)}}</span>
    </div>
    <div class="prop-box">
      <span class="key">Bank Balance:</span>
      <span class="spacer"></span>
      <span class="value">${{f(thisMember.currentWealth)}}</span>
    </div>
    <div class="prop-box">
      <span class="key">Number of Jobs:</span>
      <span class="spacer"></span>
      <span class="value">{{thisMember.jobs.length}}</span>
    </div>
    <div class="prop-box">
      <span class="key">Weekly Salary:</span>
      <span class="spacer"></span>
      <span class="value">${{f(salary)}}</span>
    </div>
  </mat-card>
  <h1>{{thisMember.firstName}} {{thisMember.lastName}}'s Jobs
    <button mat-icon-button *ngIf="isLeader" [matMenuTriggerFor]="jobMenu">
      <mat-icon>add</mat-icon>
    </button>
  </h1>
  <mat-menu #jobMenu="matMenu">
    <button mat-menu-item *ngFor="let job of jobs" (click)="addJob(job)">
      {{job.title}}
    </button>
  </mat-menu>
  <app-clear-box *ngFor="let job of memberJobs" [showButton]="isLeader" (buttonClick)="deleteJob(job)">
    <app-job [job]="job"></app-job>
  </app-clear-box>
  <h1>{{thisMember.firstName}} {{thisMember.lastName}}'s Transactions</h1>
  <app-transaction *ngFor="let transaction of memberTransactions" [transaction]="transaction"></app-transaction>
</app-centered-layout>