:host {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas: 
        "title title"
        "chart key"
}

#title {
    grid-area: title;
    text-align: center;
}

#chart {
    grid-area: chart;
}

#key {
    grid-area: key;
}

.key-item .badge {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.2em;
    margin-right: 0.5em;
}

.key-item, .key-item * {
    white-space: nowrap;
}