:host {
	display: block;
}

@keyframes redflash {
	0% { color: #fff; }
	50% { color: red; }
	100% { color: #fff; }
}

div.clock {
	position: absolute;
	right: 0.5em;
	margin-left: auto;
	padding: 0.7em;
	border-radius: 0.5em;
	background: rgba(50, 50, 50, 0.3);
}

div.clock.flash {
	animation-name: redflash;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.title {
	font-weight: bold;
}

div.title {
	position: relative;
}

.title span {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1.75em;
	margin: auto;
}

.mobile {
	display: none;
}

.mobile .title {
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 100%;
	vertical-align: middle;
}

@media(max-width: 45em) {
	.desktop {
		display: none;
	}

	.mobile {
		display: initial;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	float: left;
}

img {
	height: 24px;
}

div#mobile-bar {
	width: 100%;
	height: 100%;
}

#mobile-bar button {
	position: absolute;
	min-width: 0;
	top: 0.5em;
}