:host {
	display: block;
}

div.clock {
	margin-left: auto;
	padding: 0.7em;
	border-radius: 0.5em;
	background: rgba(50, 50, 50, 0.3);
}

.title {
	font-weight: bold;
}

.mobile {
	display: none;
}

.mobile .title {
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 100%;
	vertical-align: middle;
}

@media(max-width: 45em) {
	.desktop {
		display: none;
	}

	.mobile {
		display: initial;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	float: left;
}

img {
	height: 24px;
}

div#mobile-bar {
	width: 100%;
}
/*
#mobile-bar button {
	float: left;
	min-width: 0;
	margin: -1em;
	padding: 1em;
}*/

#mobile-bar img {
	height: 32px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}