<mat-toolbar id="root" class="mat-typography mat-elevation-z6" color="primary">
	<ul class="desktop">
		<li><a mat-button routerLink="/" class="title">Home</a></li>
		<li *ngIf="!backend.isSessionValid()"><a mat-button (click)="routeToLogin()">Sign In</a></li>
		<li *ngFor="let button of backend.isSessionValid() ? signedInButtons : []">
			<a mat-button [routerLink]="button.url">{{button.text}}</a>
		</li>
		<li *ngFor="let button of (backend.getAccessLevel() == AccessLevel.LEADER) ? leaderButtons : []">
			<a mat-button [routerLink]="button.url">{{button.text}}</a>
		</li>
	</ul>
	<mat-menu id="mobile-menu" class="mobile" #mobileMenu>
		<button mat-menu-item routerLink="/">Home</button>
		<button *ngFor="let button of backend.getAccessLevel() === AccessLevel.MEMBER ? signedInButtons : []"
			mat-menu-item [routerLink]="button.url">
			{{button.text}}
		</button>
		<button *ngFor="let button of (backend.getAccessLevel() == AccessLevel.LEADER) ? leaderButtons : []"
			mat-menu-item [routerLink]="button.url">
			{{button.text}}
		</button>
	</mat-menu>
	<div id="mobile-bar" class="mobile" [matMenuTriggerFor]="mobileMenu">
		<button mat-icon-button>
			<mat-icon>menu</mat-icon>
		</button>
		<div class="title">
			<span>Bank of Stroup</span>
		</div>
	</div>
	<div class="mat-typography clock" [ngClass]="[flash ? 'flash' : 'stable']">
		{{time}}
	</div>
</mat-toolbar>