<app-page-guard [loaded]="members" accessLevel="member" #guard>
</app-page-guard>
<app-centered-layout *ngIf="guard.show">
  <div class="toolPane">
    <h1>Change PIN</h1>
    <mat-card> <form [formGroup]="pinFg" (submit)="changePin()" #pinForm="ngForm">
      <div class="controls">
        <mat-form-field>
          <input matInput type="password" placeholder="Old PIN" formControlName="oldPin">
          <mat-error>This field is required!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="New PIN" formControlName="newPin">
          <mat-error>This field is required!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Confirm new PIN" formControlName="confirmPin">
          <mat-error>This field is required!</mat-error>
        </mat-form-field>
      </div>


      <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="!pinFg.valid">
        Change PIN
      </button>
      
      <app-overlay-hint #pinHint></app-overlay-hint> 
    </form> </mat-card>
  </div>

  <div class="toolPane" *ngIf="leader">
    <h1>Reversal of Fortune</h1>
    <mat-card> <form [formGroup]="rofFg" (submit)="doRof()" #rofForm="ngForm">
      <div class="controls">
        <mat-form-field>
          <mat-select placeholder="Switch this orange..." formControlName="orangePerson">
            <mat-option *ngFor="let member of oranges" [value]="member">
              {{member.firstName}} {{member.lastName}}
            </mat-option>
          </mat-select>
          <mat-error>This field is required!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="With this blue..." formControlName="bluePerson">
            <mat-option *ngFor="let member of blues" [value]="member">
              {{member.firstName}} {{member.lastName}}
            </mat-option>
          </mat-select>
          <mat-error>This field is required!</mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="!rofFg.valid">
        Reverse
      </button>

      <app-overlay-hint #rofHint></app-overlay-hint>
    </form> </mat-card>
  </div>

  <div class="toolPane" *ngIf="leader">
    <h1>Promote an Orange</h1>
    <mat-card> <form [formGroup]="promoteFg" (submit)="promoteOrange()" #promoteForm="ngForm">
      <div class="controls">
        <mat-form-field>
          <input matInput type="number" placeholder="Threshold" formControlName="threshold">
        </mat-form-field>
        <mat-form-field>
          <mat-select [placeholder]="!richOranges.length ? 'No Oranges have enough funds' : 'Orange to promote...'" 
            formControlName="person" [disabled]="richOranges.length === 0">
            <mat-option *ngFor="let member of richOranges" [value]="member">
              {{member.firstName}} {{member.lastName}}
            </mat-option>
          </mat-select>
          <mat-error>This field is required!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Blue to demote..." formControlName="bluePerson" 
            [disabled]="richOranges.length === 0">
            <mat-option *ngFor="let member of blues" [value]="member">
              {{member.firstName}} {{member.lastName}}
            </mat-option>
          </mat-select>
          <mat-error>This field is required!</mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="!promoteFg.valid">
        Promote
      </button>

      <app-overlay-hint #promoteHint></app-overlay-hint>
    </form> </mat-card>
  </div>

  <div class="toolPane" *ngIf="leader">
    <h1>Pay Salaries</h1>
    <mat-card> <form [formGroup]="salaryFg" (submit)="paySalaries()" #salaryForm="ngForm">
      <div class="controls">
        This will automatically give everyone one week's worth of wages according to their current employment and social
        class.

        <div class="spacing"></div>
      </div>

      <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="!salaryFg.valid">
        Pay Salaries
      </button>

      <app-overlay-hint #salaryHint></app-overlay-hint>
    </form></mat-card>
  </div>

  <div class="toolPane" *ngIf="leader">
    <h1>Major Ec. Crisis</h1>
    <mat-card> <form [formGroup]="majorFg" (submit)="majorEC()" #majorForm="ngForm">
      <div class="controls">
        This will automatically deduct half of everyone's current balance from their account.

        <div class="spacing"></div>
      </div>

      <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="!majorFg.valid">
        Crash the Economy
      </button>

      <app-overlay-hint #majorHint></app-overlay-hint>
    </form></mat-card>
  </div>

  <div class="toolPane" *ngIf="leader">
    <h1>PIN Tool</h1>
    <mat-card> <form [formGroup]="pinToolFg" (submit)="getPIN()" #pinToolForm="ngForm">
      <div class="controls">
        Use this to give everyone their username and temporary PIN so that they can view their transaction history.

        <mat-form-field>
          <mat-select placeholder="Select Person" formControlName="person">
            <mat-option *ngFor="let member of members" [value]="member">
              {{member.firstName + ' ' + member.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="spacing"></div>
      </div>
      <div class="pin-show">
        <div class="pin-bg" [class.countdown]="!!showPIN"></div>
        {{showPIN}}
      </div>
      <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="!pinToolFg.valid">
        Show PIN
      </button>
    </form></mat-card>
  </div>
</app-centered-layout>