@import 'vars';

mat-card {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1 > a {
    position: absolute;
    right: 0.5em;
}

app-member {
    display: block;
    padding-bottom: 0.5em;
    cursor: pointer;
}
