<app-page-guard [loaded]="members" accessLevel="leader" #guard>
</app-page-guard>
<app-centered-layout *ngIf="guard.show">
  <h1>Members<a routerLink="/members/new"><mat-icon>add</mat-icon></a></h1>
  <mat-card>
    <div *ngFor="let member of members" 
      [ngClass]="[member.firstName === '!' ? '' : member.class, 'member']">
      <strong class="member-name">{{member.firstName}} {{member.lastName}}</strong>
      <span></span>
      <span class="balance">${{member.currentWealth}}</span>
    </div>
  </mat-card>
</app-centered-layout>