<app-page-guard [loaded]="true" accessLevel="member" #guard>
</app-page-guard>
<app-centered-layout *ngIf="true || guard.show">
  <h1>Create Job</h1>
  <form #form="ngForm" [formGroup]="fg" (ngSubmit)="submit()"> <mat-card id="root">
    <div id="name">
      <mat-form-field>
        <input matInput placeholder="Job Name" formControlName="name">
      </mat-form-field>
    </div>

    <div id="blueSalary">
      <mat-form-field>
        <input matInput type="number" placeholder="Blue Salary" formControlName="blueSalary">
      </mat-form-field>
    </div>

    <div id="orangeSalary">
      <mat-form-field>
        <input matInput type="number" placeholder="Orange Salary" formControlName="orangeSalary">
      </mat-form-field>
    </div>

    <div id="send">
      <button mat-raised-button color="primary" type="submit" [disabled]="!fg.valid">Create</button>
    </div>
  </mat-card> </form>
  {{fg.value.blueSalary}}
</app-centered-layout>