<app-page-guard [loaded]="members" accessLevel="member" #guard>
</app-page-guard>
<app-centered-layout *ngIf="guard.show">
  <h1>Create Job</h1>
  <form #form="ngForm" [formGroup]="fg" (ngSubmit)="submit()"> <mat-card id="root">
    <div id="name">
      <mat-form-field>
        <input matInput placeholder="Job Name" formControlName="name">
      </mat-form-field>
    </div>

    <div id="blueSalary">
      <mat-form-field>
        <input matInput type="number" placeholder="Blue Salary" formControlName="blueSalary">
      </mat-form-field>
    </div>

    <div id="orangeSalary">
      <mat-form-field>
        <input matInput type="number" placeholder="Orange Salary" formControlName="orangeSalary">
      </mat-form-field>
    </div>

    <div id="quickAdd">
      <mat-form-field>
        <mat-select placeholder="Add People" formControlName="toAdd" (change)="addMember()">
          <mat-option *ngFor="let member of members" [value]="member">
            {{member.firstName + ' ' + member.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngFor="let member of quickAddList">
        {{member.firstName + ' ' + member.lastName}}
      </div>
    </div>

    <div id="send">
      <button mat-raised-button color="primary" type="submit" [disabled]="!fg.valid">Create</button>
    </div>

    <app-fade-hint id="hint" #hint></app-fade-hint>
  </mat-card> </form>
</app-centered-layout>