<app-page-guard accessLevel="leader" #guard>
</app-page-guard>
<app-centered-layout *ngIf="guard.show">
  <h1>Create Member</h1>
  <form #form="ngForm" [formGroup]="fg" (ngSubmit)="submit()"> <mat-card>
    <mat-form-field id="class">
      <mat-select placeholder="Class" formControlName="class">
        <mat-option value="blue">Blue</mat-option>
        <mat-option value="orange">Orange</mat-option>
        <mat-option value="none">Neutral</mat-option>
      </mat-select>
      <mat-error>Required!</mat-error>
    </mat-form-field>
    <mat-form-field id="name">
      <input matInput placeholder="Name (First and Last)" formControlName="name" (key.enter)="form.ngSubmit.emit()">
      <mat-hint>Press enter to create a member.</mat-hint>
      <mat-error>Must input a first and last name!</mat-error>
    </mat-form-field>
    <app-fade-hint id="message" #message></app-fade-hint>
  </mat-card> </form>
</app-centered-layout>