@import 'vars';

div#tool-box {
    padding: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    background: $hover;
}

div#tool-box > button {
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
}