@import 'vars';

mat-card {
    padding: 0em;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 3fr;
    grid-template-areas: "from to amount reason";
}

@media(max-width: 35em) {
    mat-card {
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
            "from amount"
            "to   reason"
    }

    #amount {
        border: none;
    }
}

mat-card > * {
    padding: 0.5em;
    min-width: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
}

#from {
    grid-area: from;
    cursor: pointer;
}

#from:hover {
    background: $hover;
}

#to {
    grid-area: to;
    cursor: pointer;
}

#to:hover {
    background: $hover;
}

#amount {
    grid-area: amount;
}

#reason {
    grid-area: reason;
}

span.cat-text {
    display: inline-block;
    vertical-align: bottom;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

span.cat-text.name {
    text-overflow: ".";
}

span.cat-text.name.blue {
    color: $class-blue;
}

span.cat-text.name.orange {
    color: $class-orange;
}

span.cat-text.text {
    text-overflow: ellipsis;
}

mat-card > *:not(:last-child) {
    padding-right: 0.5em;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.mat-caption {
    opacity: 0.5;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ":";
    margin-right: 0.25em;
}