<mat-card>
  <span id="from" (click)="gotoFrom()">
    <span class="mat-caption">FROM: </span>
    <span [ngClass]="'cat-text name ' + fromColor">{{fromName || "UNKNOWN"}}</span>
  </span>
  <span id="to" (click)="gotoTo()">
    <span class="mat-caption">TO: </span>
    <span [ngClass]="'cat-text name ' + toColor">{{toName || "UNKNOWN"}}</span>
  </span>
  <span id="amount">
    <span class="mat-caption">AMOUNT: </span>
    <span class="cat-text value">${{transaction && f(transaction.amount) || "UNKNOWN"}}</span>
  </span>
  <span id="reason">
    <span class="mat-caption">REASON: </span>
    <span class="cat-text text">{{transaction && transaction.reason || "UNKNOWN"}}</span>
  </span>
</mat-card>